{% extends 'base.html' %}
{% load static %}
    
{% block style %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% endcomment %}
{% endblock %}

{% block content %}
    <div class="index">
        <div class="container">
            <div class="description">
                <h1>Machine Learning Tool kit Powered by Better-I-T</h1>
                <p>Machine learning is AI that enables computers to learn from data and make predictions 
                    or decisions without explicit programming. It uses mathematical models and algorithms 
                    to analyze data, identify patterns, and make informed choices.</p>
                <a href="#" class="cta-button">Guide to using the Toolkit</a>
            </div>
            <div class="recommendation">
                <h2>Links</h2>
                <ul>
                    <li><a href="https://data.world/">Data World</a></li>
                    {% comment %} <li><a href="#">Introduction to Machine Learning</a></li>
                    <li><a href="#">Types of Machine Learning Algorithms</a></li>
                    <li><a href="#">Applications of Machine Learning</a></li>
                    <li><a href="#">Machine Learning Resources</a></li> {% endcomment %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}