{% extends 'base.html' %}
{% load static %}
    
{% block style %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% endcomment %}
{% endblock %}

{% block content %}
    <main class="index">
        <div>
            <div class="container">
                <div class="description">
                    <h1>Machine Learning Tool kit Powered by Better-I-T</h1>
                    <p>Machine learning is AI that enables computers to learn from data and make predictions 
                        or decisions without explicit programming. It uses mathematical models and algorithms 
                        to analyze data, identify patterns, and make informed choices.</p>
                    <a href="#" class="cta-button">Guide to using the Toolkit</a>
                    <br><br><br><br>
                </div>
                <div class="recommendation">
                    {% comment %} <h2>Links</h2>
                    <ul>
                        <li><a href="https://data.world/">Data World</a></li>
                    
                    </ul> {% endcomment %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}