{% extends 'base.html' %}
{% block content %}
    <h2>Train Model</h2>
    <form method="post" action="{% url 'train' %}">
        {% csrf_token %}
        <label for="dataset">Select Dataset:</label>
        <select name="dataset" id="dataset">
            <option value="iris">Iris Dataset</option>
            <option value="winequality-white">winequality-white Dataset</option>
            <option value="uploaded_dataset">Uploaded Dataset</option>
            <option value="data">Data</option>
        </select>
        {% if uploaded_file_name %}
            <input type="hidden" name="uploaded_file_name" value="{{ uploaded_file_name }}">
        {% endif %}
        <br><br>
        <label for="model">Select Model:</label>
        <select name="model" id="model">
            <option value="logistic_regression">Logistic Regression</option>
            <option value="decision_tree">Decision Tree</option>
            <option value="naive_bayes">Naive Bayes</option>
        </select>
        <br><br>
        <div>
          <label for="scaling">Scaling:</label>
          <input type="range" name="scaling" id="scaling" min="0" max="1" step="0.1" value="0">
        </div>
        <br><br>
        <button type="submit">Train Model</button>
    </form>

    

  
{% endblock %}
